/* Backgrounds */
.bg-blue {
    background: linear-gradient(to bottom, var(--main-color), #1c6a9e);
    ;
    border-radius: 3rem;
    height: 600px;
}
.bg-arg {
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.5) 0%,
            transparent 1%,
            var(--main-color)), url("../images/argentina.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-mision {
    background: linear-gradient(to bottom,
            transparent 1%,
            var(--main-color)), url("../images/mision.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-form {
    background: linear-gradient(to bottom,
    #e3e3e3,
    transparent 50%), url("../images/bg-contact.webp");

    background-size: 130%;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-product{
    background: linear-gradient(to bottom, white ,#e3e3e3);
}
.bg-warranty{
    background: linear-gradient(to bottom, #e3e3e3, white);
}
.bg-learn{
    background: linear-gradient(to bottom, #eff0f0, white);
}
.bg-about-us{
    background: linear-gradient(to bottom, white ,#e3e3e3)
}
@media (min-width: 375px) and (max-width: 768px){
    .bg-form {
        background-size: cover;
    }
    .bg-blue{
        height: 350px;
    }
}

@media (min-width: 250px) and (max-width: 375px) {
    .bg-form {
        background-size: cover;
    }
    .bg-blue{
        height: 350px;
    }
}