/* Button Red */
.btn-red {
    border: none;
    background-color: #dd2828;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-family: var(--primary-font) !important;
}

.animation-btn {
    display: inline-block;
    transition: transform 0.3s ease;
    padding-left: 1.2rem;
}

.animation-btn-link {
    transform: translateY(-50%);
    opacity: 0;
    transition: right 0.3s ease, opacity 0.3s ease;
}

.btn-red:hover .animation-btn {
    transform: translateX(-15px);
}

.btn-red:hover .animation-btn-link {
    opacity: 1;
}

/* Button Blue */
.btn-blue {
    background: linear-gradient(to right, var(--main-color), #226691);
    border: none;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.btn-blue:hover .animation-btn {
    transform: translateX(-10px);
}
.btn-blue:hover{
    background: linear-gradient(to left, var(--main-color), #226691);
    transform: scale(1); 
}

.btn-blue:hover .animation-btn-link {
    right: 10px;
    opacity: 1;
}

/* Button Transparent */
.btn-transp {
    background-color: transparent;
    border: none;
    text-decoration: none;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    border-radius: 50px;
}
.btn-transp:hover .animation-btn {
    transform: translateX(-10px);
}
.btn-transp:hover .animation-btn-link {
    right: 15px;
    opacity: 1;
}

/* Medias */
@media (min-width: 300px) and (max-width: 768px){
}